﻿.container {
    padding: 20px 20px 60px 20px;
}

    .container h1 {
        margin-top: 0px;
    }

.webapp-express-container {
    padding-top: 10%;
}

@media (min-width: 992px) {
    .sidebar.affix, .sidebar.affix-bottom {
        width: 213px;
    }
}

@media (min-width: 1200px) {
    .sidebar.affix, .sidebar.affix-bottom {
        width: 263px;
    }
}

.sidebar-nav li a {
    color: #767676;
    padding: 6px 10px;
}

    .sidebar-nav li a:hover {
        background: none;
        color: #23527c;
    }

.sidebar-nav li.active > a {
    color: #23527c;
}

.sidebar-nav ul {
    padding-left: 10px;
}
